.cta-button {
  background-color: var(--secondary-500);
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: bold;
  color: var(--primary-600);
  cursor: pointer;
  transition-property: color, background-color;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;

  &:is(:hover, :focus) {
    background-color: var(--primary-500);
    color: var(--gray-100);
  }

  &:focus {
    outline: 2px solid var(--secondary-500);
    outline-offset: 3px;
  }
}
