.header__link {
  a {
    text-decoration: none;
    font-weight: bold;
    color: var(--primary-600);
    transition: color 0.25s ease-in-out;
    cursor: pointer;
  }

  &:hover {
    a {
      color: var(--primary-300);
    }
  }

  &:focus-within {
    a {
      border-radius: 0.25rem;
      color: var(--primary-300);
      outline: 2px solid var(--secondary-500);
      outline-offset: 3px;
    }
  }

  a.active {
    color: var(--primary-500);
  }
}
