.slide__content {
  position: relative;

  .slide__description {
    position: absolute;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 1rem;

    opacity: 0;
    transition: opacity 0.25s ease-in-out;

    color: var(--gray-100);
    background-color: var(--primary-500);

    span {
      font-size: 1.25rem;
    }
    p {
      font-size: 1rem;
      line-height: 1.3;
    }
  }

  &:hover {
    .slide__description {
      opacity: 0.9;
    }
  }
}
