.contact-us__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  input {
    height: 4rem;
    padding-inline: 1rem;

    font-size: 1rem;

    border-radius: 0.25rem;
    border: 2px solid var(--primary-600);

    background-color: var(--primary-300);

    &::placeholder {
      color: var(--white);
    }

    &:focus {
      outline: 2px solid var(--secondary-500);
      outline-offset: 3px;
    }
  }

  textarea {
    height: 8rem;
    padding: 1rem;
    font-size: 1rem;

    border-radius: 0.25rem;
    border: 2px solid var(--primary-600);

    resize: none;

    background-color: var(--primary-300);

    &::placeholder {
      color: var(--white);
    }

    &:focus {
      outline: 2px solid var(--secondary-500);
      outline-offset: 3px;
    }
  }

  button {
    padding: 0.75rem 2rem;

    align-self: flex-start;

    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;

    border: none;
    border-radius: 0.25rem;

    cursor: pointer;
    transition: background-color 0.25s ease-in-out;

    background-color: var(--secondary-400);

    &:not(:disabled):is(:hover, :focus) {
      background-color: var(--secondary-500);
    }

    &:focus {
      outline: 2px solid var(--primary-500);
      outline-offset: 3px;
    }

    &:disabled {
      opacity: 0.8;
      cursor: not-allowed;
    }
  }
}

.error-message {
  color: var(--primary-500);
}
