.contact-us {
  width: 100%;
  min-height: 100svh;
  overflow: hidden;

  @media (min-width: 60em) {
    height: 100%;
    min-width: unset;
  }
}

.contact-us__container {
  height: 100%;
  width: calc(100% - (2 * 1rem));
  max-width: 1400px;
  padding-block: 6rem;
  margin-inline: auto;
}

.contact-us__content {
  margin-top: 4rem;

  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;

  .contact-us__image {
    justify-self: center;
    position: relative;

    img {
      border-radius: 0.5rem;
      box-shadow: 2px 2px 3px rgb(0 0 0 / 0.2), -2px -2px 3px rgb(0 0 0 / 0.2);
    }

    @media (min-width: 60em) {
      &::before {
        content: var(--content-evolve-text);
        position: absolute;
        right: -3%;
        bottom: -20%;
        z-index: -1;
      }
    }
  }

  @media (min-width: 60em) {
    grid-template-columns: 1fr 1fr;
  }
}
