.contact-us {
  width: 100%;
  min-height: 100svh;

  @media (min-width: 52em) {
    height: 100%;
    min-width: unset;
  }
}

.contact-us__container {
  height: 100%;
  width: calc(100% - (2 * 1rem));
  max-width: 1400px;
  padding-block: 6rem;
  margin-inline: auto;
}

.contact-us__content {
  margin-top: 4rem;

  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;

  .contact-us__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    input {
      height: 4rem;
      padding-inline: 1rem;

      font-size: 1rem;

      border-radius: 0.25rem;
      border: 2px solid var(--primary-600);

      background-color: var(--primary-300);

      &::placeholder {
        color: var(--white);
      }

      &:focus {
        outline: 2px solid var(--secondary-500);
        outline-offset: 3px;
      }
    }

    textarea {
      height: 8rem;
      padding: 1rem;
      font-size: 1rem;

      border-radius: 0.25rem;
      border: 2px solid var(--primary-600);

      resize: none;

      background-color: var(--primary-300);

      &::placeholder {
        color: var(--white);
      }

      &:focus {
        outline: 2px solid var(--secondary-500);
        outline-offset: 3px;
      }
    }

    button {
      padding: 0.75rem 2rem;

      align-self: flex-start;

      font-size: 1rem;
      font-weight: 700;
      text-transform: uppercase;

      border: none;
      border-radius: 0.25rem;

      cursor: pointer;
      transition: background-color 0.25s ease-in-out;

      background-color: var(--secondary-400);

      &:is(:hover, :focus) {
        background-color: var(--secondary-500);
      }

      &:focus {
        outline: 2px solid var(--primary-500);
        outline-offset: 3px;
      }
    }
  }

  .contact-us__image {
    justify-self: center;

    img {
      border-radius: 0.5rem;
      box-shadow: 2px 2px 3px rgb(0 0 0 / 0.2), -2px -2px 3px rgb(0 0 0 / 0.2);
    }
  }

  @media (min-width: 60em) {
    grid-template-columns: 1fr 1fr;
  }
}
