.footer {
  width: 100%;

  background-color: var(--primary-100);

  .footer__content {
    --padding-x: 1rem;
    width: calc(100% - (var(--padding-x) * 2));
    max-width: 1400px;
    margin-inline: auto;
    padding-block: 4rem;

    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;

    @media (min-width: 52em) {
      grid-template-columns: 2fr 1fr 1fr;
    }

    > div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
    }

    .footer__links,
    .footer__contact {
      strong {
        font-size: 1.125rem;
        font-weight: 600;
        line-height: 1;
      }

      ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        li {
          cursor: pointer;

          &:hover {
            color: var(--primary-500);
          }
        }
      }
    }
  }
}
